
 body{
    background:url("https://wallpaperstream.com/wallpapers/thumbnails/avengers/Avengers-3D-Logo_thumb2x.jpg") no-repeat;
     background-size:cover;
}
.landing {
    margin: 8vh auto;
    justify-content: center;
    text-align: center;
    padding: 9vh;
    height: 86vh;
    background: #000000a4;
}
    .pulse{
    background: rgb(216, 161, 161);
    border-radius: 15px;
    width:13vh;
    height:5vh;
  }
  
  .text-head{
    color: rgba(255, 255, 255, 0.95);
    text-shadow: 0 0 20px #ff005b;
    font-size: 5vh;
  }
  
  .landing p {
    padding: 10vh 14vh;
    font-family: "Courgette", "cursive";
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 12px #fff;
    font-size: 3vh;
    margin-bottom: 3vh;
}

  #Button{
    color: rgba(255, 255, 255, 0.95);
    background-color:#000;
    box-shadow: 0 0 20px #ff005b;
    font-size:3vh;
  }

  .landing h1{
      text-transform: uppercase;
      margin-bottom: 4vh;
  }
  .text-head:after{
    content:attr(text-head);
    z-index: -1;
    position:absolute;
    color: #ff005b;
    filter:blur(15px)
  }
  
  .text-head:before{
    content:"";
    position:absolute;
    background:#fe30fe;
    z-index: -2;
    opacity: 0.5;
    filter: blur(40px);
  }
  
  
  @media screen and (max-width:768px){
    
    
 body{
  background:url("https://wallpaperstream.com/wallpapers/thumbnails/avengers/Avengers-3D-Logo_thumb2x.jpg") no-repeat;
   /* background-size:cover; */
   background-size: auto;
}
    .landing h1{
      text-transform: uppercase;
      margin-bottom: 4.5vh;
  }

      .landing p {
        padding: 7vh 0vh;
        font-family: "Courgette", "cursive";
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 12px #fff;
        font-size: 3vh;
        margin-bottom: 5vh;
      }
  
  }
  @media screen and (max-width:600px){
    .landing h1{
      text-transform: uppercase;
      margin-bottom: 4vh;
  }

      .landing p {
        padding: 7vh 0vh;
        font-family: "Courgette", "cursive";
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 12px #fff;
        font-size: 2.5vh;
        margin-bottom: 5vh;
      }
  }
  @media screen and (max-width:450px){
    .landing h1{
      text-transform: uppercase;
      margin-bottom: 2.5vh;
  }

    .landing p {
      padding: 7vh 0vh;
      font-family: "Courgette", "cursive";
      color: rgb(255, 255, 255);
      text-shadow: 2px 2px 12px #fff;
      font-size: 2vh;
      margin-bottom: 5vh;
  }
  }
  
  